div {
	position: relative;
}

div.top {
	height: 25px;
	background: #B3DFDA;
	text-align: center;
	padding: 5px;
	font: 16pt bold;
}

div.bottom {
	height: 10px;
	background: #A9FACD;
}

div.left {
	width: 8%;
	font-size: 10pt;
	padding: 0 10px;
}

div.left p {
	padding: 2px 0;
	margin: 2px 0;
}

div.center {
	padding: 10px;
	font-size: 11pt;
}

div.right {
	width: 20%;
	font-size: 100%;
	padding: 0 10px;
}

div.cluster {
	background-color: silver;
	padding: 10px;
	border-radius: 10px;
	margin: 20px 0;
}

div.clusterTitle input {
	width: 100px;
}

a.closeAnchor {
	background: url('lib/images/close.gif') no-repeat center;
	width: 12px;
	right: 0px;
	position: absolute;
	font-size: 1px;
	display: block;
	height: 12px;
	padding: 3px;
	margin-top: -12px;
	overflow: hidden;
}

a.smallClose, a.copy {
	width: 14px;
	height: 14px;
	display: block;
	overflow: hidden;
	background: no-repeat center;
}

a.smallClose {
	background: url('lib/easyui/themes/default/images/tabs_icons.png') -37px;
}

a.copy {
	background-image: url('lib/images/copy.gif');
}

div.metricsGroup > a.smallClose {
	background-image: url('lib/images/white_tabs_icons.png');
	position: absolute;
	z-index: 2;
	right: 5px;
	margin-top: 5px;
}

div.metricsGroup > a.copy {
	position: absolute;
	z-index: 2;
	right: 30px;
	margin-top: 5px;
}

div.metricsGroup td.index {
	cursor: pointer;
}

div.metricsGroup td.name {
	width: 100px;
}

div.metricsGroup tr.selected {
	background-color: khaki;
}

div.metricsGroup td.desc {
	width: 600px;
}

div.panel {
	margin-bottom: 10px;
}

div.panel div.title {
	background-color: black;
	font-size: 12pt;
	color: white;
	border-radius: 10px 10px 0 0;
	padding: 10px;
}

div.panel div.blue {
	background-color: #555555;
	font-size: 11pt;
	color: white;
}

div.panel div.content {
	border: 1px solid black;
	background-color: white;
}

table {
	border-collapse: collapse;
}

td, th {
	border: 1px solid darkgray;
	padding: 5px;
}

th {
	background-color: lightgray;
}

td.handle {
	border: 0px;
	padding-right: 0;
	background-color: white;
}

button.large {
	padding: 6px 12px;
	font-size: 16pt;
	margin: 6px 12px;
}

button.small {
	padding: 4px 8px;
	font-size: 12pt;
	margin: 4px 8px;
}

button.green, button.blue, button.red {
	cursor: pointer;
	-moz-binding
	border: 1px solid transparent;
	border-radius: 4px;
	color: #fff;
}

button.green {
	background-color: #47a447;
	border-color: #398439;
}

button.red {
	background-color: #d9534f;
	border-color: #d43f3a;
}

button.blue {
	background-color: #428bca;
	border-color: #357ebd;
}

div#handleRRA {
	position: absolute;
	right: 30px;
	top: 0;
	width: 200px;
}

div#rraConfig {
	width: 780px;
}

div#rraConfig div.content {
	min-height: 100px;
}

div#rraConfig input {
	width: 160px;
}

div#periodPicker {
	position: absolute;
	background-color: white;
	border: 1px solid black;
	padding: 10px;
	z-index: 6;
	display: none;
}

div#periodPicker td {
	border: none;
	text-align: right;
}

div#periodPicker input {
	width: 50px;
}

div#message {
	position: absolute;
	display: block;
	background-color: purple;
	z-index: 4;
	padding: 10px;
	font-size: 12pt;
	border-radius: 10px;
	color: white;
	display: none;
}